#Ignore base project excess files
*.pdb
*.dev.json

.vscode/*

EventManagementCoreApi2/bin/*
EventManagementCoreApi2/obj/*
EventManagementCoreApi2/Properties
EventManagementCoreApi2/EventManagementCoreApi.csproj.user

BuddyCloudCoreApi2.JwtToken/bin/*
BuddyCloudCoreApi2.JwtToken/obj/*

BuddyCloudCoreApi2.Core/bin/*
BuddyCloudCoreApi2.Core/obj/*

BuddyCloudCoreApi2.Services/bin/*
BuddyCloudCoreApi2.Services/obj/*

.vs/*

BuddyCloudCoreApi2.UnitTest/bin/*
BuddyCloudCoreApi2.UnitTest/obj/*

BuddyCloudCoreApi2.Helper/bin/*
BuddyCloudCoreApi2.Helper/obj/*

BuddyCloudCoreApi2.DAL/bin/*
BuddyCloudCoreApi2.DAL/obj/*