#Ignore base project excess files
*.pdb
*.dev.json

.vscode/*

EventManagementCoreApi2/bin/*
EventManagementCoreApi2/obj/*
EventManagementCoreApi2/Properties
EventManagementCoreApi2/EventManagementCoreApi.csproj.user

EventManagementCoreApi2.Core/bin/*
EventManagementCoreApi2.Core/obj/*

EventManagementCoreApi2.DAL/bin/*
EventManagementCoreApi2.DAL/obj/*

EventManagementCoreApi2.Helpers/bin/*
EventManagementCoreApi2.Helpers/obj/*

EventManagementCoreApi2.Security/bin/*
EventManagementCoreApi2.Security/obj/*

EventManagementCoreApi2.Services/bin/*
EventManagementCoreApi2.Services/obj/*

.vs/*

EventManagementCoreApi2.UnitTest/bin/*
EventManagementCoreApi2.UnitTest/obj/*